html {
    overflow-y: scroll;
    overflow-x: auto;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    min-height:100%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.5s linear;
    transition-property: background-color, color;
}

.button:hover {
    background-color: black;
    color: #4CAF50;
}

.wrapper {
    vertical-align: bottom;
}

#aside {
    background-image: url('sidebars2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top; 
    background-size: 100% 20%;
    position: fixed;
    min-width: 100%;
    max-width: 100%;
    height:20%;
    display: inline-block;
    top: 0;
    left: 0;
    margin: 0;
}

#aside_cover {
    background-color: transparent;
    margin: 5%;
    margin-top: 5%;
    min-width: 100%;
    max-width: 100%;
    max-height: 20%;
    overflow-y: hidden;
    overflow-x: hidden;
    font-weight: 300;
    font-family: "Lato","Helvetica Neue",sans-serif;
    font-size: 1.3em;
    display:inline-flex;
    flex-direction: row;
}

.sidebar-nav {
    border-top: 1px solid rgba(255,255,255,0.5);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    font-size: 0.7em;
    color:ghostwhite;
    max-width: 100%;
    max-height: 20%;
    height: 20%;
    margin: 1.5em;
    padding-top: 5%;
    padding-left: 2%;
    top:2%;
    clear: both;
    transition: color 0.5s linear;
    line-height:150%;
    display:inline-flex;
}

.sidebar-nav:hover {
    color: deepskyblue;
}

.sidebar_text {
    padding-top: 3%;
}

.clearBoth {
    clear:both;
}

#namediv {
    color:white;
    max-width:25%;
}

#section {
    margin-left: 5%;
    margin-top: 20%;
    font-weight: 300;
    font-family: "Lato","Helvetica Neue",sans-serif;
    font-size: 200%;
    text-align: justify;
}

a {
    color: ghostwhite;
    transition: color 0.5s linear;            
    text-decoration: none;
}

a:hover {
    color: lightskyblue;
}

#a_section_link {
    color: gray;
    transition: color 0.15s linear;            
    text-decoration: none;
}

#a_section_link:hover {
    color: blue;
}